@media only screen and (max-width: 360px) {
  .nav-bar {
    justify-content: space-between;
  }

  .nav-bar .nav-hidden {
    display: none;
  }

  .nav-bar .nav-i {
    padding: 0;
  }

  .nav-i button {
    float: right;
    height: 100%;
  }

  #nav-bottom {
    height: 66px;
    line-height: 66px;
    font-size: 11.5px;
    width: 90%;
    padding: 0 5%;
  }

  .article-container {
    grid-template-rows: repeat(3, 214px);
    grid-template-columns: 1fr;
    margin: 0 1%;
    grid-gap: 10px;
  }

  #news-section {
    width: 336px;
  }

  #news-container {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: repeat(8, 75px);
    width: 100%;
  }

  .article-container .article-1 .main-article {
    background-size: 344px 214px;
    height: 214px;
  }

  .article-container .article-2 .main-article {
    background-size: 344px 214px;
    height: 214px;
  }

  .article-container .article-3 .main-article {
    background-size: 344px 214px;
    height: 214px;
  }

  .latest-section {
    display: flex;
    flex-wrap: wrap;
  }

  .latest-section .category-grid {
    width: 100%;
  }

  .news-item img {
    width: 75px;
    height: 75px;
  }

  .deals-img {
    height: 75px;
    width: 75px;
  }

  footer nav {
    padding: 45px 30px;
  }

  footer .footer-links {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }

  footer .footer-links li {
    width: 16%;
  }

  footer .footer-nav:nth-child(2) li {
    padding: 0 4px;
  }

  footer .footer-nav:nth-child(2) a {
    text-transform: uppercase;
    color: #9baa84;
    font-size: 11px;
    text-decoration: none;
  }

  .footer-legal .tnw {
    height: 9px;
    width: 37px;
  }

  .footer-legal .stackpath {
    height: 9px;
    width: 65px;
  }

  .footer-legal span {
    font-size: 12px;
    width: 100%;
  }

  .footer-legal {
    padding: 10% 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media only screen and (min-width: 800px) {
  .article-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 140px 140px;
    padding: 124px 85px 0 85px;
    grid-gap: 15px;
  }

  .article-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .article-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .article-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .article-container .article-1 .main-article {
    height: 100%;
  }

  .article-container .article-2 .main-article {
    height: 100%;
  }

  .article-container .article-3 .main-article {
    height: 100%;
  }

  .article-container .article-1 {
    background-size: 889px 259px;
  }

  .article-container .article-2 {
    background-size: 440px 139px;
  }

  .article-container .article-3 {
    background-size: 440px 139px;
  }

  .latest-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4%;
  }

  .latest-section .category-grid {
    width: 30%;
    padding: 1%;
  }

  .funding-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .funding-section .link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .link-container .funding-info {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
  }

  .funding-main-grid {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: auto;
    margin: 10px 2%;
    width: 90%;
    grid-gap: 5%;
  }

  .funding-grid {
    display: grid;
    grid-template-columns: 90px 210px;
    grid-template-rows: 40px 60px 82px 63px;
  }

  .news-item img {
    width: 270px;
    height: 201px;
  }

  .news-section .last-new {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 251px);
    grid-gap: 15px;
    width: 100%;
    margin-top: 10px;
  }

  .news-section .new-content {
    display: grid;
    grid-template-columns: 270px;
    grid-template-rows: 135px 85px;
    grid-gap: 4%;
    width: 100%;
  }

  .new-content .news-img {
    height: 135px;
    width: 270px;
  }

  .deals-img {
    height: 201px;
    width: 270px;
  }

  .deals-txt {
    padding-top: 5rem;
  }

  .nav-bar .nav-i a {
    line-height: 45px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .hidden-menu {
    display: none;
  }

  .nav-bar {
    justify-content: center;
  }

  .nav-bar .nav-i:nth-child(1) {
    text-align: left;
    padding: 0;
  }

  .nav-bar .nav-i:nth-child(8) {
    flex-grow: 2;
  }

  .nav-bar .nav-i:nth-child(9) {
    text-align: right;
  }

  .article-flex .article-title {
    font-size: 40px;
  }

  .article-container .article-1 .article-flex {
    height: 282px;
    /*background: rgba(34,34,34,0.3);
	background: linear-gradient(0deg, rgba(34,34,34,0.29313723780527834) 5%, rgba(243,62,81,0.7161064254803484) 70%, rgba(202,130,134,0.27913163556438203) 100%);*/
  }

  .article-container .article-2 .article-flex {
    height: 140px;
  }

  .article-container .article-3 .article-flex {
    height: 140px;
  }

  .article-container .article-2 .article-title {
    font-size: 20px;
  }

  .article-container .article-3 .article-title {
    font-size: 20px;
  }
}
