@media only screen and (max-width: 360px) {
  .nav-bar .nav-hidden {
	display: none;
	}
		.nav-bar .nav-i {
	padding: 0;
	}
		.nav-i button {
		float: right;
		height: 100%;
	}
	#nav-bottom {
		height: 66px;
		line-height: 66px;
		font-size: 11.5px;
		padding: 0 5%;
	}

	#article-container {
		grid-template-rows: repeat(3, 214px);
		grid-template-columns: 1fr;
		margin: 0 1%;
		grid-gap: 1%;
	}
}
