body {
	box-sizing: border-box;
}

.nav-bar {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.nav-bar #logo {
	height: 45px;
}

.nav-bar .nav-i {
	width:100%;
	list-style-type: none;
}

#nav-bottom {
	height: 35px;
	width: 98.5%;
	background-color: #ffdd33;
	padding-left: 1.5%;
	line-height: 35px;
	text-align: left;
	font-size: 12px;
}

#article-container {
	display: grid;
}

article {
	border: 2px solid black;
	display: block;
	height: 100%;
}

#article-container .main-article {
	background-color: blue;
	height: 100%;
}

#news-section {
	width: 1192px;
	margin: 0 auto;
}

#news-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 251px);
	width: 100%;
	background-color: rgb(60, 220, 20);
}

.funding-section {
	width: 99%;
	margin: 0 1%;
}

.funding-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 60px 82px 63px;
	background-color: rgb(245, 153, 87);
	margin: 5px 3%;
}

.funding-grid .funding-title {
	background-color: #ff4422;
}

.funding-grid .funding-price{
	background-color: #ffebe7;
}

.funding-grid .funding-details {
	background-color: #fffaf8;
}

.funding-grid .funding-contact {
	background-color: #fffaf8;
}

.category-grid {
	display: grid;
	grid-template-columns: 12fr;
	grid-template-rows: auto;
	background-color: rgb(97, 158, 238);
}