#article-container {
	display: grid;
	grid-template-rows: repeat(3, 344px);
	grid-template-columns: 1fr;

}

article {
	border: 2px solid black;
	display: block;
	height: 100%;
}

.nav-bar {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.nav-bar #logo {
	height: 45px;
}

.nav-bar .nav-i {
	width:100%;
	list-style-type: none;
}

#nav-bottom {
	height: 35px;
	width: 100%;
	background-color: #ffdd33;
	padding-left: 1.5%;
	line-height: 35px;
	text-align: left;
	font-size: 12px;
}